@charset "utf-8";
/* CSS Document */

* {
	margin-left: 100px;
	padding: 0;
}

p.akapit {
	font-style: italic;
}

p.akapit:first-letter {
	font-style: bold;
	font-size: 2em;
}

.ulli {
	color: red;
}

#first {
	color: chartreuse;
}

#second {
	color: firebrick;
}

#thrid {
	color: violet;
}

#fourth {
	color: tan;
}

