.container {
			left: 25%;
			padding: 100px;
			text-align: center;
			border: 2px solid green;
			
}
input, select {
  			width: 40%;
  			padding: 12px 20px;
  			margin: 8px 0;
  			display: inline-block;
  			border: 1px solid #ccc;
  			border-radius: 4px;
  			box-sizing: border-box;
}
input[type=submit] {
  			width: 10%;
 		 	background-color: #4CAF50;
  			color: white;
  			padding: 14px 20px;
  			margin: 8px 0;
  			border: none;
	 	 	border-radius: 4px;
          cursor: pointer;
}
input[type=reset] {
    width: 20%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
cursor: pointer;
}
input[type=reset]:hover {
    background-color: darkgray;
    color: white;
}
input[type=submit]:hover {
    background-color: darkgreen;
}
.cp {
    text-align: center;
}