* {
	margin: 0;
}
#content {
	text-align: center;
	width: 70%;
	height: 500px;
	background-color: #00caff;
	float: right;
}
#all {
	width: 80%;
	margin: auto;
}
#top {
	width: 100%;
	height: 150px;
	float: left;
	background: rgb(253,187,45);
	background: linear-gradient(45deg, rgba(253,187,45,1) 0%, rgba(0,202,255,1) 50%, rgba(253,187,45,1) 100%);
}
#nav {
	width: 30%;
	height: 500px;
	background-color: #fdbb2d;
	float: left;
}
footer {
	width: 100%;
	height: 139px;
	float: left;
	background: rgb(253,187,45);
	background: linear-gradient(45deg, rgba(253,187,45,1) 0%, rgba(0,202,255,1) 50%, rgba(253,187,45,1) 100%);
}
ul {
	list-style: square;
	color: green;
}
.name {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}