.sml {
    font-size: 0.75em;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
}
label.sml {
    margin-right: 10px;

}
.title {
text-align: center;
}

h2.title:first-of-type {
    margin-bottom: 0;
}

h2.title:last-of-type {
    margin-top: 0;
}

.cent {
    text-align: center;
    width: 95%;
    max-width: 1000px;
    background-color: wheat;
    border: 10px solid blanchedalmond;
    padding: 10px;
}
.rght {
    text-align: right;
    margin-left:auto;
    margin-right:0;
    width: 200px;

    text-align: center;
}
label.block {
    display: inline-block;
    width: 200px;
  }
  label.block1 {
    display: inline-block;
    width: 200px;
    text-align: left;
  }
input.wide {
      width: 80%;
      max-width: 550px;
  }
  input.hwide {
    width: 250px;
}
input.hwide {
    width: 250px;
}
input.hwide1 {
    width: 250px;
    margin-right: 50px;
}
input.hwide2 {
    width: 227px;
    margin-right: 25px;
}
input.hwide3 {
    width: 227px;
    margin-left: 25px;
}
label.left {
    display: inline-block;
    padding-right: 25px;
    border-right: 1px solid black;

}
label.right {
    display: inline-block;
    padding-left: 25px;
}
#attach {
    text-align: left;
}

section {
    width: 80%;
}
footer {
    width: 80%;
    max-width: 850px;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    border: 10px solid blanchedalmond;
    padding: 10px;
}