body {
    background-color: #205072;
}
#code {
    width: 50%;
    height: 500px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px dotted #329D9C;
    background: #7BE495;
}
#decode {
    width: 50%;
    height: 500px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 2px dashed #329D9C;
    background: #CFF4D2;
}