* {
	margin: 0px;
	font-family: 'Tahoma';
	color: white;
}
#baner1, #baner3, #baner4 {
	background-color: #983713;
	width: 17%;
	height: 100px;
}
#baner1 {
	float: left;
}
#baner2 {
	background-color: #983713;
	width: 49%;
	height: 100px;
	text-align: center;
	float: left;
}
#baner3 {
	float: left;
}
#baner4 {
	float: right;
}
#blok_lewy {
	background-color: #FF7F50;
	width: 80%;
	height: 500px;
	float: left;
}
#blok_prawy {
	background-color: #FF7F50;
	width: 20%;
	height: 500px;
	float: right;
}
footer {
	background-color: #983713;
	text-align: right;
	float: left;
	width: 100%;
}
button {
	background-color: #D3D3D3;
	color: #2F2F2F;
	border: solid 2px #2F2F2F;
	margin: 5px;
	padding: 10px 30px;
}
button:hover {
	cursor: pointer;
}
input {
	color: orange;
}