/* Reset styles */
* {
    font-family: "Verdana", sans-serif;
    color: #2F2F2F;
    margin: 0;
    padding: 0;
}

body {
	display: flex;
	flex-flow: wrap;
}

/* Banners */
#banner1 {
    background-color: #DCDCDC;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#banner2, #banner3 {
    background-color: #DCDCDC;
	width: 40%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;

}

#bannerNumbers {
    background-image: url("image2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 80px;
}

#bannerSequences {
    background-image: url("image1.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 20%;
	height: 80px;
}

#container {
	display: flex;
	width: 100%;
}

/* Sidebar */
aside {
    background-color: #808080;
    height: 450px;
    padding: 20px 0 0 50px;
	width: 30%;
    color: white;
}

/* Main content */
main {
    background-color: #808080;
    height: 450px;
    padding: 20px;
	width: 70%;
    color: white;
    text-align: center;
}

/* Footer */
footer {
    background-color: #DCDCDC;
    text-align: center;
    width: 100%;
    padding: 10px;
}

/* Links */
h5 {
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
	width: 200px;
	text-align: center;
}

a {
	text-decoration: none;
}

/* Inputs and Buttons */
input {
    color: gray;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
}

button {
    background-color: #2F2F2F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #444;
}

#arith_result {
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main, aside {
        width: 100%;
        height: auto;
    }
}