main {
    width: 50%;
    height: 750px;
    border: 1px black solid;
    background-color: dodgerblue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	overflow: auto;
}
#one, #two, #count, #four, #words {
	width: 500px;
	margin-right: 10px;
}
input {
	float: right;
}
h2 {
	text-align: center;
	color: cyan;
}
table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}