* {
	margin: 0;
}
#baner {
	background-color: RGB(255, 213, 162);
	text-align: center;
	padding: 20px;
	width: flex;
}
#pasek {
	display: flex;
}
#menu1block, #menu2block, #menu3block, #menu4block {
	background-color: RGB(191, 112, 17);
	text-align: center;
	font-size: 150%;
	color: white;
	flex: 25;
}
a {
	color: white;
}
#main {
	height: 400px;
}
footer {
	background-color: RGB(191, 112, 17);
	color: white;
	text-align: right;
	font-size: 150%;
}
button {
	background-color: brown;
	border: 2px solid brown;
	color: white;
	font-weight: bold;
	padding: 10px;
}