/* #forms {
    width: 100%;
    height: 500px;
    float: left;
    background-color: cadetblue;
    text-align: center;
    font-size: 1.75em;
}
#output {
width: 100%;
float: left;
background-color: deepskyblue;
text-align: center;
}
.resultPositive {
    color: green;
    font-weight: bold;
}
.resultNegative {
    color: red;
    font-weight: bold;
} */
#forms {
    width: 100%;
    height: 500px;
    float: left;
    background-color: cadetblue;
    text-align: center;
    font-size: 1.75em;
}

#output {
    width: 100%;
    float: left;
    background-color: deepskyblue;
    text-align: center;
}

.resultPositive {
    color: green;
    font-weight: bold;
}

.resultNegative {
    color: red;
    font-weight: bold;
}