* {
font-family: "Curier New";
}
body {
	display: flex;
	justify-content: center;
}
#fbox {
	display: flex;
	background-color: #D3D3D3;
	width: 90%;
	height: 94vh;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	overflow: auto;
}
header {
	width: 98%;
	height: 5vw;
	font-size: 1vw;
	color: #3E3E3D;
	background-color: #A9A9A9;
	border-radius: 7.5px;
	text-align: center;
	margin-bottom: 1%;
	overflow: hidden;
	background-image: url("eagle.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 5vw;
}
nav {
	width: 98%;
	height: 10vw;
	font-size: 1vw;
	color: #3E3E3D;
	border-radius: 7.5px;
	margin-bottom: 1%;
	background-color: #BEBEBE;
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: changeBg 15s infinite;
}
@keyframes changeBg{
   0%,100%  {background-image: url("1.jpg");}
   25% {background-image: url("2.jpg");}
   50% {background-image: url("3.jpg");}
   75% {background-image: url("4.jpg");}
}
#afbox {
	display: flex;
	background-color: #D3D3D3;
	width: 48%;
	height: 94vh;
	flex-wrap: wrap;
	margin-right: 1%;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	overflow: auto;
}
main {
	width: 48%;
	height: 95vh;
	background-color: #696969;
	border-radius: 7.5px;
}
#one {
	width: 98%;
	height: 25vw;
	font-size: 1vw;
	color: #3E3E3D;
	background-color: #A9A9A9;
	border-radius: 7.5px;
	text-align: center;
	margin-bottom: 1%;
}
#two {
	width: 98%;
	height: 25vw;
	font-size: 1vw;
	color: #3E3E3D;
	background-color: #A9A9A9;
	border-radius: 7.5px;
	text-align: center;
	margin-bottom: 1%;	
}
#three {
	width: 98%;
	height: 25vw;
	font-size: 1vw;
	color: #3E3E3D;
	background-color: #A9A9A9;
	border-radius: 7.5px;
	text-align: center;
	margin-bottom: 1%;
}
footer {
	width: 98%;
	height: 5vw;
	font-size: 1vw;
	color: white;
	background-color: #3E3E3D;
	border-radius: 7.5px;
	text-align: center;
	margin-top: 1%;
}
