* {
	margin: 0px;
	font-family: 'Gramond';
}
#leftUp {
	float: left;
	height: 500px;
	width: 25%;
	background-color: Lavender;
}
#rightUp {
	float: left;
	height: 150px;
	width: 75%;
	background-color: Indigo;
	color: white;
	font-weight: 200%;
	text-align: center;
}

#rightDown {
	float: right;
	height: 650px;
	width: 75%;
	background-color: Lavender;
	font-weight: 200%;
	text-align: center;
}
#leftDown {
	float: left;
	height: 300px;
	width: 25%;
	background-color: Lavender;
}
footer {
	float: left;
	width: 100%;
	background-color: Indigo;
	color: white;
	text-align: right;
}
ul {
	list-style-type: square;
}
img {
	padding: 5px;
	margin: 10px;
}
#obraz2:hover {
	padding: 4px;
	border: 1px solid Indigo;
}