@charset "utf-8";
#footer {
	font-size: 0.4em;
	font-style: italic;
}
/* #nav {
	font-size: 1.3em;
} */
#nav {
	font-size: 4.3em;
}
body { /* Nadrzędny styl */
	color: #900;
}
h1 { /* Zastępujemy powyższy styl innym tylko dla poziomu pierwszego nagłówka */
	color: #099;
}
h1,p {
	color: #099;
}