* {
	margin: 0px;
	font-family: 'Verdana';
}
table {
	width: 100%;
}
th#right {
	width: 405px;
}

a {
	color: brown;
}
#baner, #panel_lewy, #panel_prawy, footer {
	background-color: #ffb31c;
}
#panel_srodkowy {
	background-color: #ffcb71;
}
#baner {
	float: left;
	width: 100%;
	height: 60px;
}
#panel_lewy {
	float: left;
}
#panel_srodkowy {
	float: left;
	width: 60%;
	overflow: auto;
}
#panel_prawy {
	float: right;
}
footer {
	float: left;
	width: 100%;
	height: 30px;
}
#baner, footer {
	text-align: center;
}
#panel_prawy {
	text-align: right;
}
#panel_lewy, #panel_prawy {
	width: 20%;
}
#panel_lewy, #panel_prawy, #panel_srodkowy {
	height: 480px;
}
li {
	list-style-type: square;
}
th, td {
	border: 1px solid black;
}
body {
	background-color: PaleGoldenRod;
}