td:nth-child(2) {
	width: 405px;
}
label, input {
	display: inline-block;
}
body, html {
	margin: 0 auto;
	padding: 0;
	font-family: Verdana;
}
a {
	color: brown;
}
ul
{
	list-style: square;
}
#baner {
	text-align:center;
	background-color: #ffb31c;
	height: 60px;
	float: left;
	width: 100%;
}
#panel_lewy {
	background-color: #ffb31c;
	width: 20%;
	height: 480px;
	float: left;
	
}
#panel_prawy {
	background-color: #ffb31c;
	text-align: right;
	width: 20%;
	height: 480px;
	float: right;
}
#panel_srodkowy {
	background-color: #ffcb71;
	width: 60%;
	height: 480px;
	overflow: scroll;
	float: left;
}
footer
{
	background-color: #ffb31c;
	text-align:center;
	height: 30px;
	width: 100%;
	clear: left;
}
tr, td
{
	border: 1px solid black;
}