#baner {
	background-color: #08826A;
    height: 60px;
	width: 100%;
	font-family: Verdana;
    float: left;
    text-align: center;
}

#panellewy {
	background-color: #1E9880;
	height: 550px;
	width: 30%;
	float: left;
}

#panelprawy {
	background-color: #9AC8BF;
	height: 550px;
	width: 70%;
	float: left;
	text-align: center;
}

footer {
	background-color: #08826A;
	font-family: Verdana;
	color: white;
	text-align: right;
}

a {
	color: white;
}

img {
	margin: 20px;
	padding: 15px;
	border: 2px dotted #1E9880;
}

table {
	margin: 20px;
	width: 80%;
	border: 1px solid;
}

table, tr, td {
	border-collapse: collapse;
}

th {
	background-color: #1E9880;
	border: 1px solid;
}

td {
	border: 1px solid;
	text-align: right;
}

tr:hover {
	background-color: green;
	color: white;
}

#panelprawy > p {
	display: inline-block;
}