@charset "utf-8";
body {
background-image: url(tlo.png);
background-repeat: repeat-x;
background-color: #99ccff;
}
div#content {
width: 960px;
background-color: #FFF;
margin-left: auto;
margin-right: auto;
padding: 15px;
}
p {
font-size: 1.2em;
color: #003;
}
div#box {
width: 300px;
background-color: #69F;
padding: 10px;
float: left;
margin: 10px;
}
div#box p {
font-size: 0.9em;
color: #633;
}
.okladka {
/*float: right;*/
float: left; /* Właściwość float pozwala zmienić stronę, po której ma być wyświetlony element.*/
margin: 10px;
}
/* Układy stron będziemy tworzyli na elementach pływających.*/