* {

	font-family: Arial;
}

.banner, .main {
	background-color: RGB(220, 220, 220);
	padding: 20px;
	text-align: center;
}

.m_lewy, .m_prawy {
	float: left;
	width: 50%;
	background-color: RGB(255, 127, 80);
	color: white;
	height: 410px;
}

.f_lewy, .f_prawy {
	background-color: RGB(255,127,80);
	color: white;
	width: 50%;
	height: 100px;
	float: left;
}

table, td, th {
	border: 1px solid RGB(255,127,80);
	padding: 10px;
	text-align: center;
}

table {
	margin: auto;
}

a {
	color: white;
}
button.kwerendy {
	background-color: RGB(255,127,80);
		border: 0;
}
body {
		margin: 0;
}