body {
	display: flex;
	justify-content: center;
	background-color: #EAEAE0
}
nav {
	height: 100%;
	width: 25%;
	padding: 5%;
}
main {
	height: 100%;
	width: 75%;
	padding: 5%;
	text-align: center;
	border-left: calc((1vh + 1vw)/10) solid #1C4670;
}
h1 {
	color: #1C4670;
	font-size: calc((2vh + 2vw))
}
form {
	border: calc((1vh + 1vw)/4) dashed #1C4670;
	padding: 2%;
	width: 50%;
	text-align: center;
	margin: auto;
}
input {
	width: 15svw;
}
a {
	color: #278AB0;
	line-height: 3em;
	text-decoration: none;
	font-size: calc((2vh + 2vw)/2)
}

#err {
color: #1DC690;
}